In [5]:
class Student:
    pass

In [6]:
stu1=Student()
stu1.name="jane"
stu1.chinese=90
stu1.math=88
stu1.english=89

In [7]:
stu2=Student()
stu2.name="elena"
stu2.chinese=88
stu2.math=87
stu2.english=98

In [8]:
stu1.name,stu2.name

('jane', 'elena')

In [10]:
class Student:
    def __init__(self,name:str,chinese:int,english:int,math:int):
        self.name = name
        self.chinese = chinese
        self.english = english
        self.math = math

In [11]:
stu1 = Student("jane",75, 93, 82)
stu1.name, stu1.chinese, stu1.english, stu1.math

('jane', 75, 93, 82)

In [12]:
stu2 = Student(name="elena",chinese=89, english=92, math=72)
stu2.name, stu2.chinese, stu2.english, stu2.math

('elena', 89, 92, 72)

In [25]:
class Student:
    def __init__(self,name:str,chinese:int,english:int,math:int):
        #實體的attribute
        self.name = name
        self.chinese = chinese
        self.english = english
        self.math = math 

    #實體方法method
    def total(self)->int:
        return self.chinese + self.english + self.math
    #property
    @property
    def average(self)->float:
        return self.total()/3.0
    
    def __repr__(self):
        return f'我是student的實體,我的name是:{self.name}'

In [26]:
stu1 = Student("徐國堂",75, 93, 82)
display((stu1.name, stu1.chinese, stu1.english, stu1.math))
print(stu1.total(),stu1.average)
print(stu1)

stu2 = Student(name="張xx",chinese=89, english=92, math=72)
display((stu2.name, stu2.chinese, stu2.english, stu2.math))
print(stu2.total(),stu2.average)
print(stu2)

stu3 = Student("林xx",english=98, math=92, chinese=71)
display((stu3.name, stu3.chinese, stu3.english, stu3.math))
print(stu3.total(),stu3.average)
print(stu3)

('徐國堂', 75, 93, 82)

250 83.33333333333333
我是student的實體,我的name是:徐國堂

('張xx', 89, 92, 72)

253 84.33333333333333
我是student的實體,我的name是:張xx

('林xx', 71, 98, 92)

261 87.0
我是student的實體,我的name是:林xx