In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns= ['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  2.022455  0.620794 -0.250453
台中  0.139887 -0.090315  0.451962
台南 -2.212456 -0.722420  2.115332
高雄 -0.453594  0.140224 -0.510101

In [2]:
np.abs(frame)

           b         d         e
台北  2.022455  0.620794  0.250453
台中  0.139887  0.090315  0.451962
台南  2.212456  0.722420  2.115332
高雄  0.453594  0.140224  0.510101

In [3]:
#使用numpy做統計的動作
display(np.mean(frame,axis=0))
display(np.mean(frame,axis=1))

b   -0.125927
d   -0.012929
e    0.451685
dtype: float64

台北    0.797598
台中    0.167178
台南   -0.273181
高雄   -0.274490
dtype: float64

In [4]:
#dataFrame.mean()
display(frame.mean())
display(frame.mean(axis=1))

b   -0.125927
d   -0.012929
e    0.451685
dtype: float64

台北    0.797598
台中    0.167178
台南   -0.273181
高雄   -0.274490
dtype: float64

In [5]:
frame.loc['台北'].mean()

0.7975983367739947

In [6]:
np.mean(frame.loc['台北'])

0.7975983367739947